<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="textAlignCenter"><%=Qstn.h1_1%></h1>
<div class="marginT-30"></div>
<div class="container">

    <h5 ><%=Qstn.h5_1%></h5>
    <div class="container">
        <p class="lead">
             <%=Qstn.p_1%>
        </p><br>
        <h5 id="title"> <%=Qstn.h5_2%></h5>
        <div class="container">
            <p class="lead">
              <%=Qstn.p_2%>
            <ul>
                <li id="puce" >
                    <a href="https://www.who.int/news-room/feature-stories/detail/the-race-for-a-covid-19-vaccine-explained" target="_blank" >
                        <%=Qstn.ul1.li1%>
                    </a>
                </li>
                <li id="puce"><a href="https://www.covid-19vaccinetracker.org/" target="_blank"> <%=Qstn.ul1.li2%> </a></li>
                <li id="puce"><a href="https://www.who.int/publications/m/item/who-target-product-profiles-for-covid-19-vaccines" target="_blank"><%=Qstn.ul1.li3%></a></li>
            </ul>
            </p><br>
        </div>
        <h5 id="title"> <%=Qstn.h5_3%></h5>
        <div class="container">
            <p class="lead">
              <%=Qstn.p_3%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_4%></h5>
        <div class="container">
            <p class="lead">
               <%=Qstn.p_4%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_5%></h5>
        <div class="container">
            <p class="lead">
                <%=Qstn.p_5%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_6%></h5>
        <div class="container">
            <p class="lead">
                <%=Qstn.p_6%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_7%></h5>
        <div class="container">
            <p class="lead">
              <%=Qstn.p_7%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_8%></h5>
        <div class="container">
            <p class="lead">
                 <%=Qstn.p_8%>
            </p><br>
        </div>
        <h5 id="title"><%=Qstn.h5_9%></h5>
        <div class="container">
            <p class="lead">
                <%=Qstn.p_9%>
            </p>
        </div>

    </div>
</div>