<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="txt"><%= terms.h1%></h1>
<div class="marginT-30"></div>

<div class="container">
  <p class="lead"> <%=terms.p%> </p>
  <h5> <%=terms.h5_1%></h5>
  <p class="lead"> <%=terms.p_2%> </p>
  <h5><%=terms.h5_2%></h5>
  <p class="lead"> <%=terms.p_2%> </p>
</div>
